<%= form_with(model: reservation, local: true, html: {autocomplete: "off"}) do |form| %>
  <% if reservation.errors.any? %>
    <div id="error_explanation">
      <h2>Incorrect info for <%= pluralize(reservation.errors.count, "section") %>: </h2>

      <ul>
      <% reservation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row optionRow row-eq-height">
    <div class="col-xs-3">
      <div class="optionBox">
        <%= image_tag("toolsIcon.jpg", alt: "tools") %>
        <div class="optionTitle">Toolbox</div><br>
        <input type="checkbox" checked onclick="return false">
      </div>
    </div>
    <div class="col-xs-3">
      <div class="optionBox">
        <%= image_tag("ladderIcon.jpg", alt: "tools") %>
        <div class="optionTitle">Add a Ladder ($15)</div>
        <%= form.check_box :ladder, id: :reservation_ladder%>
      </div>
    </div>
    <div class="col-xs-3">
      <div class="optionBox">
        <%= image_tag("lightIcon.jpg", alt: "tools") %>
        <div class="optionTitle">Add a Work Lamp ($10)</div>
        <%= form.check_box :light, id: :reservation_light %>
      </div>
    </div>
    <div class="col-xs-3">
        <div class="optionBox">
          <%= image_tag("deliveryIcon.jpg", alt: "tools") %>
          <div class="optionTitle">Delivery ($10)</div><br>
          <input type="checkbox" onChange ="toggleDelivery(this.checked)">
        </div>
    </div>
  </div>
  <div class="row">
    <div class="bottomInfo col-md-6 col-md-offset-3">

      <div id= "deliveryInput" class="initHidden">
        <div class="inputField">
          <%= form.label :delivery_time, "Desired Delivery Time: " %>
          <%# hash of possible delivery times in 24h %>
          <% delivery_times = { "9am" => 9, "10am" => 10, "11am" => 11, "12pm" => 12, "1pm" => 13, "2pm" => 14, "3pm" => 15, "4pm" => 16, "5pm" => 17, "6pm" => 18, "7pm" => 19, "8pm" => 20 } %>
          <%= form.select :delivery_time, delivery_times, {}, {:id => "delivery_time", :onChange => "deliveryChange()", :disabled => true}  %>
          &nbsp— <b><span id="deliveryEndTime">10am</span></b>
        </div>
        <div class="inputField">
          <%= form.label :address, "Address: " %>
          <%= form.text_field :address, id: :address %>
        </div>
        <div class="inputField">
          <%= form.label :instructions, "Special Instructions: " %>
          <%= form.text_field :instructions, id: :instructions %>
        </div>
      </div>
      <% if reserveLater %>
        <div class="reserveDate inputField">
          <%= form.label :start_date, "Rental Date: " %>
          <%= text_field_tag "reservation[start_date(1i)]", nil, type: 'hidden', value: Date.today.year, id: "start_date_1i" %> 
          <%= select nil, "reservation[start_date(2i)]", (Date.today.month..12).collect { |d| [Date::MONTHNAMES[d], d] }, options = {}, {id: "start_date_2i", onChange: "changeResMonth(this.value)"} %>
          <%= select nil, "reservation[start_date(3i)]", [['Day', nil]] + (1..31).collect { |d| [d, d] }, options = {}, {id: "start_date_3i", onChange: "updateDueDate()"} %>
        </div>
      <% end %>

      <div class="inputField">
        <%= form.label :email, "Email: " %>
        <%= form.email_field :email, id: :reservation_email %>
      </div>
      <div class="inputField">
        <%= form.label :stripe, "Card: " %>
        <%= form.text_field :stripe, id: :reservation_stripe %>
      </div>
      <div class="termsOfService">
        <span>I agree to the terms serivce</span>
        <%= form.check_box :tos, id: :reservation_tos %>
      </div>
      <div class="actions submitWrapper">
        <%= form.submit "Reserve Now",  :class=>'btn btn-primary' %>
      </div>
    </div>
  </div>








<% end %>
