<%= form_with(model: @reservation, remote: true, html: {autocomplete: "off", id: "reservation_form"}) do |form| %>
    <div class="form-group">
        <div id="page1" class="">
            <div id="errorsWrapper">
                <% if @reservation.errors.any?%>
                    <div id="error_explanation" class="bottom-spacer">
                    <span class="text-header">Sorry! There were a few error(s): </span>
                    <ul>
                        <% @reservation.errors.messages.each do |message| %>
                            <li><%= message[1][0] %></li>
                        <% end %>
                    </div>
                <% end %>
            </div>
            <%= render partial: "page1", :locals => {form: form} %>
        </div>    
        <div id="page2" class="collapse">
            <%= render partial: "page2", :locals => {form: form} %>
        </div>
    </div>
<% end %>
<div id="confirmationPage" class="text-center hide">
    <%= render "confirmationPage" %>
</div>