<%= form_with(model: @reservation, remote: true, html: {autocomplete: "off", id: "reservation_form"}) do |form| %>
    <div class="form-group">
        <div id="page1" class="">
            <div id="errorsWrapper">
                <%= render partial: 'formErrors', :locals => {reservation: @reservation} %>
            </div>
            <%= render partial: "page1", :locals => {form: form} %>
        </div>    
        <div id="page2" class="collapse">
            <%= render partial: "page2", :locals => {form: form} %>
        </div>
    </div>
<% end %>
<div id="confirmationPage" class="text-center hide">
    <%= render "confirmationPage" %>
</div>