<%= render "modals" %>

<%= form_with(model: @reservation, local: true, html: {autocomplete: "off", id: "reservation_form"}) do |form| %>
    <div id="page1" class="">
        <div id="errorsWrapper">
            <%= render partial: 'formErrors', :locals => {reservation: @reservation} %>
        </div>
        <%= render partial: "page1", :locals => {form: form} %>
    </div>    
    <div id="page2" class="hide">
        <%= render partial: "page2", :locals => {form: form} %>
    </div>
<% end %>
<div id="page3" class="text-center hide">
    <%= render "page3" %>
</div>