<div class="back_button hideInFullForm">
    <a onClick="toPage1()">
        <span class="glyphicon glyphicon-menu-left"></span>
        Go back
    </a>
</div>

<div class ="form-section-header">
    <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-inverse fa-stack-1x">3</i>
    </span>
    <span class="text-header"> Enter Contact & Payment </span>
</div>
<div class="inputField">
    <%= form.label :email, "Email: " %>
    <%= form.email_field :email, id: :reservation_email, class: "full-width"%>
</div>

<div class="inputField">
    <%= form.label :stripe, "Credit or Debit Card: " %>
    <div id="card-element">
        <!-- a Stripe Element will be inserted here. -->
    </div>
    <div id="card-errors" role="alert"><%=flash[:error]%></div>    
    <%= text_field_tag  "reservation[stripe]", nil, type: 'hidden', id: "reservation_stripe" %>
</div>

<div class="termsOfService">
    <%= form.check_box :tos, id: :reservation_tos %>
    <span>I agree to the <%= link_to "Terms of Service", terms_of_service_path %></span> 
</div>

<div class="text-center">
    <button id="submitButton" class="btn btn-primary text-header" onClick ="tokenHandler(event)" disabled="true">Drill me now!</button>
</div>