<div class='top-section hideInFullForm'>
    <%= image_tag 'tools.jpg', alt: "tools" %>
    <div class="top-text">
        <span class="text-header">
            Your toolbox rental includes:
        </span><br>
        <span class="generic-text">
            Electric drill, stud finder, level, screwdriver set, hammer, pliers, wrenches, <a data-toggle="modal" data-target="#toolsModal">and more!</a>
        </span>
    </div>
</div>

<div class="summaryWrapper hide showInFullForm">
    <%= render "summaryTable" %>
</div> 

<div class ="form-section-header">
    <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-inverse fa-stack-1x">1</i>
    </span>
    <span class="text-header"> Check availability </span>
</div>

<div class="reserveDate inputField generic-text">
    <%= form.label :start_date, "Get it: "%>
    <%= form.text_field :start_date, {:id => "start_date", :class=>"full-width", :readonly  => "true", :onChange => "updateDueDate()"} %>        
</div>
<div id="start_dateError" class="error hide"> Start Date Required </div>



Return it: 
<span class="dueDate">
    3 days from rental
</span>


<div class ="form-section-header">
    <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-inverse fa-stack-1x">2</i>
    </span>
    <span class="text-header"> Select optional add-ons </span>
</div>
<%= render partial: 'add_ons', :locals => {form: form} %>
<div id= "deliveryInput" class="collapse">
    <div class="inputField">
        <%= form.label :phone, "Phone (for delivery contact): " %>
        <%= form.telephone_field :phone, id: :phone, class: "full-width" %>
        <div id="phoneError" class="error hide"> Phone Number Required  </div>
    </div>
    <div class="inputField">
        <%= form.label :address, "Address: " %>
        <%= form.text_field :address, id: :address, class: "full-width" %>
        <div id="addressError" class="error hide"> Address Required </div>  
    </div>
    <div class="inputField">
        <%= form.label :instructions, "Optional instructions: " %>
        <%= form.text_field :instructions, id: :instructions, class: "full-width" %>
    </div>
    <div class="inputField">
        <%= form.label :delivery_time, "Time window for delivery: " %>
        <p class="caveat-text">
            Select the start of a 1-hour window from 9:00am-9:00pm
        </p>
        <% delivery_times = {"9:00am" => 9, "10:00am" => 10, "11:00am" => 11, "12:00pm" => 12, "1:00pm" => 13, "2:00pm" => 14, "3:00pm" => 15, "4:00pm" => 16, "5:00pm" => 17, "6:00pm" => 18, "7:00pm" => 19, "8:00pm" => 20 } %>
        <%= form.select :delivery_time, delivery_times, {}, {:id => "delivery_time", :onChange => "deliveryChange()", :disabled => true}  %>
        &nbspto <span id="deliveryEndTime" class="generic-text">10:00am</span>
    </div>
</div>
<div class="text-center">
    <button id="checkoutBtn" class="btn btn-primary text-header hideInFullForm" onClick= "validateCheckout()" type="button"> Checkout </button>
</div>  