<div class="field">
<%= form.label :address %>
<%= form.text_field :address, id: :reservation_address %>
</div>

<div class="field">
<%= form.label :instructions %>
<%= form.text_field :instructions, id: :reservation_instructions %>
</div>

<div class="field">
<%= form.label :delivery_time %>
<%= form.number_field :delivery_time, id: :reservation_delivery_time %>
</div>