<% if false %>
  <p id="notice"><%= notice %></p>
<% end %>

<p>
  <strong>Email:</strong>
  <%= @reservation.email %>
</p>

<p>
  <strong>Tos:</strong>
  <%= @reservation.tos %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @reservation.start_date %>
</p>

<p>
  <strong>Ladder:</strong>
  <%= @reservation.ladder %>
</p>

<p>
  <strong>Light:</strong>
  <%= @reservation.light %>
</p>

<p>
  <strong>Stripe:</strong>
  <%= @reservation.stripe %>
</p>

<p>
  <strong>Address:</strong>
  <%= @reservation.address %>
</p>

<p>
  <strong>Instructions:</strong>
  <%= @reservation.instructions %>
</p>

<p>
  <strong>Delivery time:</strong>
  <%= @reservation.delivery_time %>
</p>

<%= link_to 'Edit', edit_reservation_path(@reservation) %> |
<%= link_to 'Back', reservations_path %>
